<h1>Search Results</h1>

<div class="results">
  <ul>
    <% @results.each do |result| %>
    <li>
      <a href='/apartments/<% apartment.id %>'>
        <% result %>
      </a>
    </li>
    <% end %>
  </ul>
</div>
