<!-- <h1>
  <%= @result %>
</h1>
<div class="result">
  <p>
    <label>Title</label>
    <%= @result.title %>
  </p>
  <p>
    <label>Author</label>
    <%= @result.author %>
  </p>
  <img src="<%= @result.image_url(256,256) %>" />
</div> -->
<body>
<button>Add a Review</button>
<button>Add to My Bookshelf</button>
<button>Check Library Availability</button>
</body>
